// Tipografía

$fuente_principal: 'Montserrat', sans-serif;

// Colores

$blanco: #EEEEEE; 
$beige: #EEECE1;
$oscuro: #212121;
$azul: #044577;
$gris: #6C6D77;
$verde: #9BBB59;
$naranja: #FF6629;
$primario: rgb(2, 41, 78);
$primarioOscuro: darken(#02294e,10%);
$secundario: rgb(55, 117, 151);
$secundarioOscuro: darken(#377597,20%);
$grisOscuro: darken(rgb(171,171,171),5%);
$facebook: rgb(58,88,158);
$darkBackground: rgb(10,21,59);
$lightBackground: rgb(224,233,239);
$mediumBackground: rgb(141,170,193);


// Tamaños de Media Queries

$telefonoSM: 320px;
// $telefono: 481px;
$telefono: 576px;
// $telefonoXL: 575px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
$desktopXXL: 1600px;