@use "base/variables" as v;
@use "base/mixins" as m;

.section-container-gallery {
  margin: 0rem 1rem 0rem 1rem;

  @include m.telefonoSM {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @include m.telefono {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  @include m.desktop {
    margin-left: auto;
    margin-right: auto;
    max-width: 95rem;
  }

  @include m.desktopXL {
    max-width: 115rem;
  }
}

.galeria {
  padding: 5rem 0;

  h3 {
    text-align: center;
  }
}

.galeria-imagenes {
  @include m.resetear-lista;
  @include m.grid(1, 4rem);

  @include m.telefonoSM {
    @include m.grid(1, 5rem);
  }

  @include m.telefono {
    @include m.grid(2, 2rem);
  }

  @include m.tablet {
    @include m.grid(3, 2rem);
  }

  @include m.desktop {
    @include m.grid(4, 2rem);
  }

  @include m.desktopXL {
    @include m.grid(5, 2rem);
  }

  div {
    position: relative;
    height: 18rem;
    @include m.tablet {
      height: 20rem;
    }
  }

  img {
    width: 100%;
    height: 100%;
    transition: all 0.1s;
    object-fit: cover;

    &:hover+span {
      // bottom: 0rem;
      // opacity: 1;
      z-index: 3;
      animation-name: pop;
      animation-duration: 0.25s;
      animation-fill-mode: forwards;
    }

    // &:hover+.rect-hover {
    //   opacity: 1;
    //   z-index: 2;
  // }
}

span {
  background-color: rgb(10, 21, 59, 0.75);
  position: absolute;
  color: v.$blanco;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  // padding: 1rem;
  z-index: -1;
  pointer-events: none;
}

@keyframes pop {
  0% {
    height: 0rem;
    // opacity: 0.1;
  }
  10% {
    height: 0.5rem;
    // opacity: 0.1;
  }
  20% {
    height: 1rem;
    // opacity: 0.1;
  }
  30% {
    height: 1.5rem;
    // opacity: 0.1;
  }
  40% {
    height: 2rem;
    // opacity: 0.1;
  }
  50% {
    height: 2.5rem;
    // opacity: 0.1;
  }
  60% {
    height: 3rem;
    // opacity: 0.2;
  }
  70% {
    height: 3.5rem;
    padding-top: 0.25rem;
    // opacity: 0.3;
  }
  80% {
    height: 4rem;
    padding-top: 0.5rem;
    // opacity: 0.5;
  }
  90% {
    height: 4.5rem;
    padding-top: 0.75rem;
    // opacity: 0.75;
  }
  100% {
    height: 5rem;
    padding-top: 1rem;
    // opacity: 1;
  }  
}

@include m.tablet {
  @keyframes pop {
    0% {
      height: 0rem;
      // opacity: 0.1;
    }
    10% {
      height: calc(0.75rem);
      // opacity: 0.1;
    }
    20% {
      height: calc(0.75rem * 2);
      // opacity: 0.1;
    }
    30% {
      height: calc(0.75rem * 3);
      // opacity: 0.1;
    }
    40% {
      height: calc(0.75rem * 4);
      // opacity: 0.1;
    }
    50% {
      height: calc(0.75rem * 5);
      // opacity: 0.1;
    }
    60% {
      height: calc(0.75rem * 6);
      // opacity: 0.2;
    }
    70% {
      height: calc(0.75rem * 7);
      padding-top: 0.25rem;
      // opacity: 0.3;
    }
    80% {
      height: calc(0.75rem * 8);
      padding-top: 0.5rem;
      // opacity: 0.5;
    }
    90% {
      height: calc(0.75rem * 9);
      padding-top: 0.75rem;
      // opacity: 0.75;
    }
    100% {
      height: calc(0.75rem * 10);
      padding-top: 1rem;
      // opacity: 1;
    }  
  }
}

// .rect-hover {
//   position: absolute;
//   width: 100%;
//   bottom: 0;
//   left: 0;
//   height: 5rem;
//   opacity: 0;
//   background-color: rgb(10,21,59,0.75)
// }
}

.grid-right {
  grid-auto-flow: dense;
  direction: rtl;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;

  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;

  background-color: rgb(0 0 0 / 0.75);

  img {
    margin-bottom: 15vh;
    display: block;
    max-width: 70rem;
    max-height: 60vh;
    width: auto;
    overflow: hidden;
  }

  @include m.tablet {
    img {
      height: 80vh;
    }
  }
}

.btn-cerrar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: v.$blanco;
  color: v.$secundarioOscuro;
  display: grid;
  place-items: center;
  font-weight: 700;
  position: absolute;
  margin-top: 75vh;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px 1px v.$gris;
    -moz-box-shadow: 0px 0px 7px 1px v.$gris;
    box-shadow: 0px 0px 7px 1px v.$gris;
  }

  @include m.telefonoSM {
    width: 4.5rem;
    height: 4.5rem;
    font-size: large;
  }

  @include m.tablet {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2.75rem;
  }
}